{% extends "base.html" %}
{% load socialaccount %}
{% load static %}
{% block content %}
<div class="container mt-5">
    <h2 class="mb-4">Вход в аккаунт</h2>
    <form method="post">
        {% csrf_token %}
        {{ form.non_field_errors }}
        <div class="mb-3">
            {{ form.username.label_tag }}<br>
            {{ form.username }}
            {{ form.username.errors }}
        </div>
        <div class="mb-3">
            {{ form.password.label_tag }}<br>
            {{ form.password }}
            {{ form.password.errors }}
        </div>
        <button type="submit" class="btn btn-primary">Войти</button>
    </form>


    <a href="{% provider_login_url 'google' %}">Войти через Google</a>


    <p class="mt-3">Нет аккаунта? <a href="{% url 'users:register' %}">Зарегистрироваться</a></p>
</div>
{% endblock %}